#============
# Spring
#============
SPRING_PROFILES_ACTIVE=prod
SPRING_DOCKER_COMPOSE_ENABLED=false
PORT=8080

#============
# Database
#============
DB_URL=jdbc:postgresql://<host>:5432/lingualoop
DB_USERNAME=
DB_PASSWORD=

#============
# Security
#============
JWT_SECRET=

#============
# Web
#============
CORS_ALLOWED_ORIGINS=
